.venv/
venv/
env/
vir_env/
.git/
.gitignore
.github/
.env
.env.*
!env_example
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
db.sqlite3
db.sqlite3-journal
.coverage
.pytest_cache/
htmlcov/
coverage.xml
.vscode/
.idea/
*.swp
*.swo
.qodo/
.DS_Store
Thumbs.db
desktop.ini
README.md
Docker_Notes.md
*.postman_collection.json
*.bak
*.tmp
run.sh
