# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/
# documents/

# Environment variables
.env
.env.*

# Virtual environment
vir_env/
env/
venv/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# PostgreSQL (optional if used in production)
postgres_data/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
*.cover
.hypothesis/

# Project-specific ignores
Mapwala_MIS_Backend.postman_collection.json  # or .json if that's what it is