DEBUG=True
# Database configuration
DATABASE_URL=postgres://postgres:Skytrack976531@localhost:5432/mapwala_db
#For Docker Compose, use the below line
# DATABASE_URL=postgres://postgres:Skytrack976531@db:5432/mapwala_db